.filteredElementContainer {
  overflow: hidden;
}

.filterDiv {
  float: left; 
  color: #ffffff;
  width: 200px; 
  margin: 10px;
  display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 20px;
  border-radius: 8px; 

}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #D3D3D3;
}

/* Add a dark background to the active button */
.btn.filteractive {
  background-color: #9B9B9B;
  color: white;
}

.merch-img {
    width: 100%;
    height: auto;
    display: block; 
    outline:1px solid #DDD;
}

.merch-img:hover{
     box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
    
}
 
 

.filterSection {
padding-top: 50px; padding-left: 30px; padding-right: 30px; width: 90%
}



@media screen and (max-width: 630px) {
     
.filterDiv { width:45%;}
.btn {
      width: 100%;
     font-size: 18px;
    border-radius: 0;
    }
    
.filterSection { width: 95%; padding-top: 0px; padding-left: 10px; padding-right: 10px;
} }