
video {
  width: 40%; 
  height: auto;
  min-width: 350px;
}

.logo{
    float: left  
}

.logo p{
    padding: 0px 16px;
    font-size: 17px; 
    text-align: match-parent;
    color: white
}

p.impact {
  font-family: Impact, Charcoal, sans-serif;
}

h3 {
    color: white;
    font-family:fantasy;
}

/*Add a black background color to the top navigation*/
.topnav{
    background-color: transparent;
    overflow: hidden;
    float: right;
}

/*Style the links inside the navigation bar*/
.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    font-size: 17px; 
    font-family:monospace;
    text-transform: uppercase;
}

/*Change the color of links on hover*/
.topnav a:hover{
    background-color: whitesmoke;
    color: black;
}

/*Add a color to the active/current link*/
.topnav a.active{
    background-color:  rgba(255,255, 255, 0.8);;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none; 
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

.button {
  display: inline-block;
  padding: 6px 10px;
  color: #FFFFFF;
  border: 3px solid #FFFFFF;
  border-radius: 10px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family:monospace;
}

.button:hover{
    background-color: whitesmoke;
    color: black;
}

.container {
  display: table;
  padding-top: 80px;
  width: 100%;
}

.content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}



@media only screen and (max-width: 630px){

    video {
        width: 90%;
    }
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 630px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 630px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color: rgb(77,77,77,0.7);
  }
    
  .topnav.responsive a.active {
    background-color: rgb(255,255,255,0.7);
  }
}